---
import ProjectCard from "./ProjectCard.astro";
import nivalImg from "@/assets/projects/nival.png";
import uLPImg from "@/assets/projects/your-app-landing.png";
import devstopiaImg from "@/assets/projects/devstopia-m.png";
import xoImg from "@/assets/projects/xo-m.png";
---

<div class={"grid lg:grid-cols-2 gap-10"}>
	<ProjectCard
		title="Nival Digital"
		description="I designed and developed a landing page for a company that offers various services, from programming to data science. Every detail, from the color palette to the layout of the elements, aligns with the client's vision."
		link="https://nivaldigital.com"
		github="https://github.com/mendoza000/nival-digital"
		img={nivalImg}
		tags={["Next.js", "TailwindCSS", "Zustand", "Typescript", "auto-type.js"]}
		alt="nival-screen"
	/>

	<ProjectCard
		title="Your App Landing"
		description="In just 4 hours, I designed a striking landing page for a mobile application using Vue.js and Tailwind CSS. I particularly highlight the design, which I consider beautiful. This project showcases my ability to create visual solutions in record time."
		link="https://your-app-landing.vercel.app/"
		github="https://github.com/mendoza000/your-app-landing"
		img={uLPImg}
		tags={["Vue.js", "TailwindCSS", "Typescript", "Vite"]}
		alt="nival-screen"
	/>

	<ProjectCard
		title="Devstopia"
		description="Devstopia is my online space where I chronicle my journey as a developer and share tutorials for amazing projects. This blog, built with JAMStack, is the convergence of development and creativity, designed to inspire your own path in programming."
		link="https://devstopia.vercel.app/"
		github="https://github.com/mendoza000/devstopia"
		img={devstopiaImg}
		tags={["Next.js", "TailwindCSS", "Typescript", "MDX"]}
		alt="nival-screen"
	/>

	<ProjectCard
		title="XO"
		description="XO is a web-based tic-tac-toe game I designed using Sass and Vanilla JavaScript. It's one of my initial projects where I also implemented games against the CPU, albeit in a basic manner. The CPU marked available positions on the board randomly, offering little difficulty."
		link="https://xo000.vercel.app/"
		github="https://github.com/mendoza000/xo"
		img={xoImg}
		tags={["Vite", "React", "Sass", "Javascript", "Redux", "Animate.css"]}
		alt="nival-screen"
	/>
</div>
