---
import { FlaskConical } from "lucide-astro";
import ProjectsList from "./ProjectsList.astro";
---

<div
	class="px-5 lg:px-0 lg:py-20 py-5 flex flex-col gap-10 max-w-7xl mx-auto"
	id="projects"
>
	<h2 class="font-extrabold text-5xl max-w-2xl">
		<span class="dark:text-green-500 text-green-700">Highlighted</span>
		projects
		<FlaskConical class="inline h-12 w-12 text-green-600" />
	</h2>

	<ProjectsList />
</div>
