---
import { FlaskConical } from "lucide-astro";
import ProjectsList from "./ProjectsList.astro";
---

<div class="px-5 lg:px-20 lg:py-20 py-5 flex flex-col gap-10" id="projects">
	<h2 class="font-extrabold text-5xl max-w-2xl">
		<span
			class="bg-gradient-to-t from-green-800 to-green-500 bg-clip-text text-transparent"
		>
			Proyectos
		</span>
		 destacados
		<FlaskConical class="inline h-12 w-12 text-green-600" />
	</h2>

	<ProjectsList />
</div>
