---
import { PartyPopper } from "lucide-astro";
import ServicesList from "./ServicesList.astro";
---

<div
	class="px-5 lg:px-0 max-w-7xl mx-auto lg:py-20 py-5 flex flex-col gap-16 dark:border-t-zinc-800 border-t-2"
	id="services"
>
	<h2 class="font-extrabold text-5xl max-w-2xl">
		<span class="dark:text-green-500 text-green-700">Services</span>
		i offer
		<PartyPopper class="inline h-12 w-12 text-green-600" />
	</h2>

	<ServicesList />
</div>
