---
import { ArrowDown, MessageCircle } from "lucide-astro";
import Button from "@/components/ui/Button";
import HeaderSkills from "./HeaderSkills.astro";
import { IconBrandJavascript } from "@tabler/icons-react";
import { IconBrandGolang } from "@tabler/icons-react";
import Badge from "@/components/ui/Badge";
---

<script>
	const theme = localStorage.getItem("theme");
	// const header = document.getElementById("header");
	// if (theme === "dark") {
	// 	header?.classList.remove("header-bg");
	// 	header?.classList.add("header-bg-dark");
	// } else {
	// 	header?.classList.remove("header-bg-dark");
	// 	header?.classList.add("header-bg");
	// }
</script>

<header
	class={`
		px-5 pb-20 pt-32 items-center mx-auto bg-gradient-to-t dark:from-custom-dark dark:to-zinc-800 from-custom-light to-zinc-200 
	`}
>
	<div class="flex flex-col gap-5 max-w-7xl mx-auto">
		<div class="flex gap-2">
			<Badge color="blue">🎉 Disponible para trabajar</Badge>
		</div>

		<h1 class="text-5xl font-extrabold">
			¡Hola! 👋
			<br />
			Mi nombre es
			<span class="dark:text-green-500 text-green-700">Omar Mendoza.</span>
		</h1>
		<p class="dark:opacity-90 opacity-90 max-w-3xl font-semibold text-xl">
			+3 años de experiencia.
			<span class="dark:text-yellow-300 text-yellow-600"
				>Desarrollador web Frontend y Backend.</span
			>
			<span class="dark:text-red-300 text-red-500"> Venezolano.</span>
			<span class="dark:text-blue-300 text-blue-500">
				Especializado en crear interfaces visuales hermosas y funcionales</span
			> para una experiencia de usuario excepcional.
		</p>

		<div class="flex gap-4">
			<Button>
				<a href="#contact" class="flex gap-2 hover:gap-3 duration-200"
					><MessageCircle />Contáctame</a
				>
			</Button>
			<Button variant="outline">
				<a
					target="_blank"
					href="https://docs.google.com/document/d/16ezw6j-XlfdU02b7Vvx4jvFV1wllAjG0_8TVizTQOgE/edit?usp=drive_link"
					class="flex gap-2 hover:gap-3 duration-200"><ArrowDown />Abrir CV</a
				>
			</Button>
		</div>
	</div>
</header>
