---
const currentYear = new Date().getFullYear();
---

<footer
	class="px-5 py-5 dark:bg-zinc-800 flex flex-col justify-center items-center font-semibold"
>
	<p>Made by <span class="text-green-700">Omar Mendoza</span></p>
	<p>
		<span class="text-green-700">©</span>{" "}
		{currentYear} All rights reserved.
	</p>
</footer>
