---
const currentYear = new Date().getFullYear();
---

<footer
	class="px-5 py-5 dark:bg-zinc-800 bg-zinc-900 text-white flex flex-col justify-center items-center font-semibold"
>
	<p>Made by <span class="text-green-500">Omar Mendoza</span></p>
	<p>
		<span class="text-green-500">©</span>{" "}
		{currentYear} All rights reserved.
	</p>
</footer>
